[submodule "codelab-ai-service"]
	path = codelab-ai-service
	url = git@github.com:pese-git/codelab-ai-service.git
[submodule "codelab_ide"]
	path = codelab_ide
	url = git@github.com:pese-git/codelab_ide.git
[submodule "website"]
	path = website
	url = git@github.com:pese-git/codelab-website.git
[submodule "codelab-chart"]
	path = codelab-chart
	url = git@github.com:pese-git/codelab-chart.git
